<nav-bar></nav-bar>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>
                    Users list
                </h1>
            </div>
            <div>
                Filter by user name:
                <input type='text' [(ngModel)]='userNameFilter' />
            </div>
            <br>
            <div>
                Filter by first name:
                <input type='text' [(ngModel)]='firstNameFilter' />
            </div>
            <br>
            <div>
                Filter by last name:
                <input type='text' [(ngModel)]='lastNameFilter' />
            </div>
            <br>
            <div>
                Filter by email:
                <input type='text' [(ngModel)]='emailFilter' />
            </div>
            <br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngFor= "let user of users | 
                    userFirstNamePipe:firstNameFilter | 
                    userByUserNamePipe:userNameFilter | 
                    userLastNamePipe:lastNameFilter | 
                    userEmailPipe:emailFilter">
                    <tr *ngIf="!user.deleted" (click)="goToUserDetails(user.id)" (click)="onSelect(user)">    
                            <td>{{user?.id}}</td>
                            <td>{{user?.userName}}</td>
                            <td>{{user?.firstName}}</td>
                            <td>{{user?.lastName}}</td>
                            <td>{{user?.email}}</td>
                            <td>
                                <button class="glyphicon glyphicon-remove" (click)="deleteProduct(user)">
                                </button>
                                </td>   
                        </tr>
                </tbody>
            </table>
            <div>
                <a role="button" class="btn btn-default" (click)="goToAddUser()">
                    Add user
                </a>
                <a role="button" class="btn btn-primary" (click)="clearFilter()">
                    Clear filter
                </a>
            </div>
        </div>
    </div>
</div>
